:root {
  --backColor: #ebedff;
  --contColor: #fafafa;
  --frontColor: White;
  --fontColor: Black;
  --buttonColor: #2677d4;
}

body{
	background-color: var(--backColor);
	color: var(--fontColor);
    overflow-x:hidden;
	
	
}

#header{
	display:block;
	position:absolute;
	left:0%;top:0%;
	width:100%;
	color:#303030;
	height:60px;
	font-family:Georgia;
	float:left;
	font-weight:bold;
	z-index:1;
	
}
#mainpicture{
	display:block;
	position:relative;
	overflow-x:hidden;
	left:0%;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:-8px;
	font-family:Georgia;
	font-weight:bold;
	font-size:46px;
    
}

.menuButton{
	font-family:Georgia;
	float:left;
	font-weight:bold;
	font-size:26px;
	padding:10px;
	margin:5px;
	cursor:pointer;
	}
.menuButton:hover{
	color:#545454;
	background-color:rgba(0,0,0,0.01);
	border-bottom:solid 2px #f5bd4e;
}
#mainContent{
  clear:both;
  text-align: center;
  margin-top:20px;
}
.container{
	
	background-color:white;
	display: inline-block;
	margin:10px;
	height:430px;
	width:350px;
	text-align:center;
	-webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
	overflow:hidden;
	border-radius:5px;
	}
	


.carImg
{
	max-height:232px;-webkit-filter: grayscale(100%);
	transition:0.4s;
}

.container:hover .carImg{-webkit-filter:grayscale(0%);}
	



.carText
{
	position:relative;
	padding:10px;
	top:-22px;
	background-image:linear-gradient(#edaa00,#f5bd4e)
	
}

.link {
text-decoration:none;
color:#545454;}



#aboutcont{
	display:block;
	position:relative;
	overflow-x:hidden;
	left:0%;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:-8px;
	padding:14px;
	color:rgba(0,0,0,0.65);
	background-color:white;
}
	
#about{min-width:600px; float:left; padding-top:20px; width:50%}


#carsHeader{
	position:relative;
    left:0%;	
	margin:-8px;
	height:250px;
	font-size:40px;
	text-align:center;
	color:rgba(0,0,0,0.65);
	background-image:linear-gradient(white ,var(--backColor))
}
#footer{display:block;
	position:relative;
	overflow-x:hidden;
	left:0%;
	overflow:hidden;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:20px;
    color:rgba(0,0,0,0.65);
	-webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}
#footerText{ 
	  position:absolute;
	  width: 1000px;
      height: 0;
	  left:60%;
      border-left: 100px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 900px solid white;
	  padding-left:40px;
}
#Mobilefooter{display:none;margin-top:20px; margin-left:-8px;-webkit-box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.75);
	margin-right:-8px;padding-bottom:20px; background-color:white; text-align:center;}

#title{position:absolute; left:6%;top:300px;z-index:1;}
#subtitle{position:absolute; left:6%;top:460px;font-size:38px; color:white;z-index:1;}
 
 
 
 
 
 
 
 @media screen and (max-width: 1200px)
{  #Mobilefooter{display:block;}
   #footer{display:none;}
} 

@media screen and (max-width: 1050px)
{  #title{font-size:70px;}
   #subtitle{top:410px;font-size:30px;}
}
  
  @media screen and (max-width: 830px)
{  #title{font-size:60px;top:150px}
   #subtitle{top:250px;font-size:26px;}
}
  
    @media screen and (max-width: 530px)
{  #title{font-size:34px;top:65px}
   #subtitle{top:120px;font-size:18px;}
   #about {margin-left:-16px;}
	.container{width:90%;}
    .menuButton{display:none;}
	#carsHeader	{font-size:26px;}
}
  